body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    background-color: #333;
    color: #fff;
  }
  
  nav ul li a.active {
    background-color: #333;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  #about {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  a:link{
    text-decoration: none;
    color:black;
  }
  a:visited{
    text-decoration: none;
    color: black;
  }
  #hero h4{
    font-size: 29px;
  }